body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid{
  background-color: #121214;
}

.roxo{
    height: 100vh;
    background-color: #4d2ab2;
    overflow-x: hidden;

}
.form-control{
  width: 100%;
  border: 0;
  border-bottom: 2px solid gray;
}
/*textarea:focus, input:focus{
  outline: none;
}*/

.texto-principal{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.texto-principal h2{
    font-weight: 300;
}


.texto-principal p{
   margin-top: 60px;
}

.links{
margin-left: 15px;
float: right;
padding:2px;
color:#817f81;
border:none!important;
background-color: white!important;
text-decoration:none;
}

.btn-login{
  background-color: #6340B2;
    color: #fff;
    margin-top: 40px;
    padding: 8px;
    float: right;
}


@media screen and (max-width: 764px) {
    .login-form{
        margin-top: 40%;
    }
.roxo{

    height: 50vh;
}

.links{
    font-size:12px;

    }
.texto-principal h2{
    font-size: 30px;
}
}


@media screen and (min-width: 768px){

.texto-principal h2{
    font-size: 60px;
}
.btn-login{

    padding: 15px;

}
}


/*::-webkit-input-placeholder {
  color: red;
}

:-moz-placeholder { /* Firefox 18- /
  color: red;
}

::-moz-placeholder {  / Firefox 19+
  color: red;
}

:-ms-input-placeholder {
  color: red;
}*/

.mat-form-field-empty.mat-form-field-label {
  color: green;
}

a:hover{
  color: white;
}
