<div class="grid-container">
  <h1 class="mat-h1 h1" style="color: #8257e5; font-style: oblique">
    Lembretes
  </h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let lembrete of lembretes">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            <p class="titulo mat-title">
              {{ lembrete.nome }}
            </p>
            <button
              mat-icon-button
              color="accent"
              class="more-button"
              [matMenuTriggerFor]="menu"
              aria-label="Toggle menu"
            >
              <mat-icon class="mat-icon-css">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button
                mat-fab
                class="editar"
                [routerLink]="['/mainMenu/editar', lembrete.id]"
              >
                <mat-icon>create</mat-icon>
              </button>
              <button
                mat-fab
                color="warn"
                style="color: #202024"
                (click)="onDelete(lembrete.id)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content h5">
          <p style="color: #e1e1e6">{{ lembrete.descricao }}</p>
          <hr style="border-width: 4px" />
          <p style="color: #e1e1e6">
            Data de conclusão:
            {{ lembrete.data | date: "shortDate":"UTC":"Br" }}
          </p>
          <hr style="border-width: 4px" />
          <p style="color: #e1e1e6">
            Criação: {{ lembrete.dataInicial | date: "shortDate":"UTC-3":"Br" }}
          </p>
          <hr style="border-width: 4px" />
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<h1
  class="lembrete-null"
  style="text-align: center"
  *ngIf="lembretes.length <= 0"
>
  Nenhum Lembrete cadastrado
</h1>

<!-- <mat-accordion *ngIf="lembretes.length > 0">
  <mat-expansion-panel *ngFor="let lembrete of lembretes">
    <mat-expansion-panel-header>Nome: {{ lembrete.nome }}</mat-expansion-panel-header>
    <p>Descricao: {{ lembrete.descricao }}</p>

    <p>Data: {{ lembrete.data }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDITAR</button>
      <button mat-button color="warn">REMOVER</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="lembretes.length <= 0">
  Nenhum cliente cadastrado
</p> -->
