.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background-color: #202024;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;

}

.titulo{
  color:#8257E5;
}

.menu{
  padding: 0px;
}
.mat-icon-css{
  color: #8257E5;
}
.editar{
  background-color: #04d361;
}
.lembrete-null{
  font-style: oblique;
  color: #8257E5;
  margin-top: 40px;
}
