<div class="grid-container">
  <h1 class="mat-h1">Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let lembrete of lembretes">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            {{lembrete.nome}}
            <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu" xPosition="before">
              <button mat-menu-item>Editar</button>
              <button mat-menu-item>Excluir</button>
            </mat-menu>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
          <p>{{lembrete.descricao}}</p>
          <p>{{lembrete.data}}</p>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>








<!-- <mat-accordion *ngIf="lembretes.length > 0">
  <mat-expansion-panel *ngFor="let lembrete of lembretes">
    <mat-expansion-panel-header>Nome: {{ lembrete.nome }}</mat-expansion-panel-header>
    <p>Descricao: {{ lembrete.descricao }}</p>

    <p>Data: {{ lembrete.data }}</p>
    <mat-action-row>
      <button mat-button color="primary">EDITAR</button>
      <button mat-button color="warn">REMOVER</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="mat-body-1" style="text-align: center;" *ngIf="lembretes.length <= 0">
  Nenhum cliente cadastrado
</p> -->
