<mat-accordion *ngIf="lembretes.length > 0">
  <mat-expansion-panel class="colunas" *ngFor="let lembrete of lembretes">
    <mat-expansion-panel-header>Nome: {{ lembrete.nome }}</mat-expansion-panel-header>
    <p>Descricao: {{ lembrete.descricao }}</p>

    <p>Data de conclusão {{ lembrete.data | date:'shortDate':'UTC':'Br'}}</p>

    <p>Data de cadastro: {{lembrete.dataInicial | date:'shortDate':'UTC-3':'Br'}}</p>
    <mat-action-row>
      <button mat-raised-button style="background-color: #04d361;"  [routerLink]="['/mainMenu/editar', lembrete.id]">EDITAR</button>
      <button mat-raised-button color="warn" (click)="onDelete(lembrete.id)">REMOVER</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<h1 class="lembrete-null" style="text-align: center;" *ngIf="lembretes.length <= 0">
  Nenhum Lembrete cadastrado
</h1>
