<form class="example-form">
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nome do lembrete</mat-label>
    <input matInput placeholder="Ex. Estudar" />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Descrição</mat-label>
    <textarea matInput placeholder="Ex. Estudar Função Sigmoide"></textarea>
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Data de Conclusão</mat-label>
    <input matInput type="date" />
  </mat-form-field>
  <button mat-raised-button color="primary">Cadastrar Lembrete</button>
</form>
