<form
  (submit)="onAdicionarLembrete(lembreteForm)"
  class="example-form"
  #lembreteForm="ngForm"
>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Nome do lembrete</mat-label>
    <input
      matInput
      placeholder="Ex. Estudar"
      name="nome"
      ngModel
      #nome="ngModel"
    />
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Descrição</mat-label>
    <input
      matInput
      placeholder="Ex. Estudar Função Sigmoide"
      name="descricao"
      ngModel
      #descricao="ngModel"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width" appearance="outline">
    <mat-label>Data de Conclusão</mat-label>
    <input matInput type="date" name="data" ngModel #data="ngModel" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">
    Cadastrar Lembrete
  </button>
</form>
